@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Open Sans", sans-serif;
}

.auth-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 50px;
}

.form-wrap {
  width: 75%;
  margin: auto;
  border-radius: 5px;
}

.sign-up-form button {
  width: 50%;
  margin: 25px auto 20px 0;
  display: block;
  padding: 0px 0 10px 0;
}

.sign-up-form a {
  color: #ffb61d;
}
