@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background: rgba(0, 0, 0, 0.7);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  li {
    color: #fff;
  }
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

code {
  font-family: "Open Sans", sans-serif;
}

input,
input::placeholder,
button {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

nav {
  background: #444;
  color: #fff;
}

.brand-logo i {
  color: #ffb61d;
  font-size: 36px !important;
}

.auth-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  min-height: 80vh;
  margin: 50px auto 0 auto;
  max-width: 1100px;
}

.form-wrap {
  width: 75%;
  margin: auto;
  border-radius: 5px;
}

.sign-up-form > div:last-child {
  display: flex;
  align-items: center;
}

.sign-up-form .submit-here i {
  font-size: 12px;
}

.sign-up-form .submit-here button {
  min-width: 135px;
}

.sign-up-form .submit-here a {
  display: block;
  margin-top: 5px;
}

.sign-up-form a {
  color: #ffb61d;
}

#mobile-demo {
  display: none;
}

@media (max-width: 768px) {
  #mobile-demo {
    display: block !important;
  }
  .brand-logo {
    left: 10% !important;
  }

  .togller {
    float: right;
  }

  #mobile-toggle {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }

  #mobile-toggle.show {
    background: #555;
    display: block !important;
    position: absolute;
    right: 0;
    margin-top: 56px;
    opacity: 1;
    visibility: visible;
  }

  #mobile-toggle.show ul {
    display: flex;
    flex-direction: column;
  }
}
